/.metadata/
*.prefs
*.class
*.properties
Selenium_Level2/target/classes/com/logigear/test/ta_dashboard/pom/LoginPage.class
/.recommenders/
Day_6_RailWay/.project
Day_6_RailWay/.classpath
*.prefs
demo/.classpath
demo/.project
*.class
*.MF
*.properties
